<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {{#each image in images}}
        <li>
          <a {{bind-attr href=image.full_url}} target="_blank"><image {{bind-attr src=image.url}}></a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
