{{!-- Outlet is a placeholder that the router will fill in with the appropriate template, based on the current URL --}}
{{outlet}}


<div id="footer">
  <div class="row">
    <div class="small-12 columns">
      <p>Developed by Jodi Detch</p>
    </div>
  </div>
</div>
