{{!-- Outlet is a placeholder that the router will fill in with the appropriate template, based on the current URL --}}
{{outlet}}


<div class="row">
  <div class="small-12 columns">Placeholder footer - RaceBook</div>
</div>
