<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1 id="logo"><a href="#">RaceBook</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        {{#if user.email}}
          <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
        {{else}}
          <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>

{{!-- Outlet is a placeholder that the router will fill in with the appropriate template, based on the current URL --}}
{{outlet}}

<div id="footer">
  <div class="row">
    <div class="small-12 columns">RaceBook: For Remembering All the Reasons Why We Race.</div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>Developed by Jodi Detch</p>
    </div>
  </div>
</div>
