<div class="row">
  <div class="small-12 columns">
    <h1>Race Statistics</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>Where you've raced: <br/>
      {{!-- {{view RaceBook.RaceMarkerView content=racesAsMarkers}} --}}
      </li>
      <li>{{bar-graph width=475 height=475 data=raceTypesOverTime}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>Total Races Per Year: <br/>
      {{donut-chart width=400 height=400 data=racesPerYear}}
      </li>
      {{#link-to 'races.images'}}<li id="images">Images: <br/>{{/link-to}}
      </li>
    </ul>
  </div>
</div>
