<div class="row">
  <div class="small-12 columns">
    <h1>Graphs Page</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>GRAPH 1</li>
      <li>{{bar-graph width=475 height=475 data=raceTypesOverTime}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li>GRAPH 3</li>
      <li>GRAPH 4</li>
    </ul>
  </div>
</div>
