<div class="row">
  <div class="small-12 columns">TAGLINE</div>
</div>
<div class="row">
  <div class="small-4 columns">x</div>
  <div class="small-4 columns">RACEBOOK LOGO</div>
  <div class="small-4 columns">x</div>
</div>
<div class="row">
  <div class="small-4 columns">x</div>
  <div class="small-4 columns">
  {{#link-to 'signup' class="button"}}Sign Up{{/link-to}}
  {{#link-to 'login' class="button"}}Login{{/link-to}}
  </div>
  <div class="small-4 columns">x</div>
</div>
<div class="row">
  <div class="small-12 columns">Why do we Race? We Race:</div>
</div>
<div class="row">
  <div class="small-4 columns">For Fun</div>
  <div class="small-4 columns">For Competition</div>
  <div class="small-4 columns">For Health</div>
</div>
<div class="row">
  <div class="small-4 columns">FUN PIC PLACEHOLDER</div>
  <div class="small-4 columns">COMPETITION PIC PLACEHOLDER</div>
  <div class="small-4 columns">HEALTH PIC PLACEHOLDER</div>
</div>
<div class="row">
  <div class="small-12 columns">RaceBook- For Remembering All the Reasons Why We Race.</div>
</div>
<div class="row">
  <div class="small-12 columns">Developed by Jodi Detch</div>
</div>
