<div id="banner"></div>
<div id="index-wrapper" class="text-center">
  <div class="row">
    <div class="small-12 columns">
      <h4>RaceBook allows athletes to<br/>
      Store event photos, <br/>
      Track performance and participation in competitive races,<br/>
      All in one place.</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    {{#link-to 'signup' class="button"}}Get Racing!{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h4>Why do we Race? We Race:</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns"><h4>FOR FUN</h4></div>
    <div class="small-4 columns"><h4>FOR COMPETITION</h4></div>
    <div class="small-4 columns"><h4>FOR HEALTH</h4></div>
  </div>
  <div class="row">
    <div class="small-4 columns">FUN PIC PLACEHOLDER</div>
    <div class="small-4 columns">COMPETITION PIC PLACEHOLDER</div>
    <div class="small-4 columns">HEALTH PIC PLACEHOLDER</div>
  </div>
</div>
