<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1 id="logo"><a href="#">RaceBook</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Get Racing!</a>
          <ul class="dropdown">
            <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
            <li class="active">{{#link-to 'login'}}Login{{/link-to}}</li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
<div id="banner"></div>
<div class="row">
  <div class="small-4 columns">x</div>
  <div class="small-4 columns">RACEBOOK LOGO</div>
  <div class="small-4 columns">x</div>
</div>
<div class="row">
  <div class="small-4 columns">x</div>
  <div class="small-4 columns">
  {{#link-to 'signup' class="button"}}Sign Up{{/link-to}}
  {{#link-to 'login' class="button"}}Login{{/link-to}}
  </div>
  <div class="small-4 columns">x</div>
</div>
<div class="row">
  <div class="small-12 columns">Why do we Race? We Race:</div>
</div>
<div class="row">
  <div class="small-4 columns">For Fun</div>
  <div class="small-4 columns">For Competition</div>
  <div class="small-4 columns">For Health</div>
</div>
<div class="row">
  <div class="small-4 columns">FUN PIC PLACEHOLDER</div>
  <div class="small-4 columns">COMPETITION PIC PLACEHOLDER</div>
  <div class="small-4 columns">HEALTH PIC PLACEHOLDER</div>
</div>
<div class="row">
  <div class="small-12 columns">RaceBook- For Remembering All the Reasons Why We Race.</div>
</div>
<div class="row">
  <div class="small-12 columns">xxx</div>
</div>
