<div class="banner">
  <div class="row banner-text text-center">
    <div class="small-12 columns">
      RaceBook <br/>
      allows athletes to store event photos and<br/>
      track performance and participation in competitive races,<br/>
      all in one place.
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 columns">
    {{#link-to 'signup' class="button"}}Get Racing!{{/link-to}}
    </div>
  </div>
</div>
<div id="index-wrapper">
  <div class="row">
    <div class="small-12 columns">
      <h2>Why do we race?</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns"><h4>TO EXPLORE</h4></div>
    <div class="small-4 columns"><h4>TO COMPETE</h4></div>
    <div class="small-4 columns"><h4>TO MAINTAIN</h4></div>
  </div>
  <div class="row">
    <div class="small-4 columns"><img src="http://i.imgur.com/zSSIGuQ.png"/></div>
    <div class="small-4 columns"><img src="http://i.imgur.com/rJh1cCB.png"/></div>
    <div class="small-4 columns"><img src="http://i.imgur.com/judvyIv.png"/></div>
  </div>
  <div class="row">
    <div class="small-12 columns"><h2>RaceBook: For Remembering All the Reasons We Race.</h2>
    </div>
  </div>
</div>
