<div class="row">
  <div class="small-12 columns">
    <h2>Login Page</h2>
    Email: {{input type="text" value=email}}
    Password: {{input type="password" value=password}}
    <a {{action 'login'}} class="button">Login</a><br/>
  </div>
</div>
