<div class="row text-center">
  <div class="small-12 columns">
    <h3>Thank you! You've successfully logged out.</h3>
    <h4>Didn't mean to sign out?</h4>
    {{#link-to 'login' class="button"}}Sign in again{{/link-to}}<br/>
  </div>
</div>
