<div class="row">
  <div class="small-12 columns">
    <h1>Sign Up Page</h1>
    Email: {{input type="text" value=signup.email}}
    Password: {{input type="text" value=signup.password}}
  </div>
</div>

