<div class="row">
  <div class="small-12 columns">
    <h2>Sign Up Page</h2>
    Email: {{input type="text" value=model.email}}
    Password: {{input type="password" value=model.password}}
    <a {{action 'save' model}} class="button">Create Account</a><br/>
  </div>
</div>

