<div class="row">
  <div class="small-12 columns">
    <h1>Sign Up Page</h1>
    Email: {{input type="text" value=model.email}}
    Username: {{input type="text" value=model.username}}
    Password: {{input type="text" value=model.password}}
    <a {{action 'save' model}} class="button">Create Account</a><br/>
  </div>
</div>

