/* SASS shortcuts for colors*/
/* Created _settings partial so that I can use these colors in all scss files */

// metro
$blue: #00B4FF;
$gray: #515151;
$white: #FFFFFF;
$qwhite: #EEEEEE;

// Gamebookers

$orange: #FF9900;
$teal: #3299BB;
