/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require alertify
 */

 @import "colors";


.ember-view {
  height: 100%;
}

 .button {
  background-color: $blue;
  color: $white;
  border-radius: 10px;
 }
 .button:hover {
  background-color: $darkblue;
 }

 #index-wrapper {
  text-align: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

 }

 .images {
  background-image: image-url('http://i.imgur.com/vcjYe53.jpg?1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
  width: 475px;
}

  .moments {
  color: white;
  background-position: center;
  position: relative;
  vertical-align: center;
  text-align: center;
  height: 50px;
  width: 214px;
  margin-top: 240px;
  margin-left: 120px;
}

.map-canvas {
  height: 475px;
  width: 475px;
}

#back-to-races {
  margin-top: 10px;
  text-align: left;
}

.underline {
  text-decoration: underline;
}
