@import "colors";

.banner {
  background-image: image-url('http://i.imgur.com/7jNLg8h.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.banner-text {
  margin-top: 100px;
  font-size: 35px;
  color: white;
  padding-top: 90px;
}

.racing {
  background-position: center;
  padding-top: 60px;
}
